@media screen and (max-width: 768px) {
    header {
        width: 100%;
        height: auto;
        min-height: 90vh;
        padding: 40px 2%;
    }
    nav.desktop-menu {
        display: none;
    }
    nav.mobile-menu {
        display: block;
    }
    .chamada01 {
        max-width: none;
        width: 100%;
        text-align: center;
        float: none;
        margin: 100px 0px;
    }
    .chamada01 h1 {
        font-size: 30px;
        color: white;
        padding: 0px 10px;
        font-weight: 300;
    }
    .chamada01 p {
        font-size: 15px;
        color: white;
        margin-top: 10px;
    }
    .sessao01 {
        width: 100%;
        background: #472562;
        padding: 0 2%;
        height: 400px;
    }
    .sessao01 {
        padding: 40px 2%;
        height: auto;
        text-align: center;
    }
    .texto-sessao01 {
        display: inline-block;
        width: 100%;
        position: static;
        float: none;
        margin-top: 0;
        padding-left: 0;
    }
    .device-sessao01 {
        display: none;
    }
    .texto-sessao01 ul {
        display: inline-block;
        margin-top: 10px;
    }
    .texto-sessao01 ul li {
        float: none;
        text-align: left;
    }
    .btn1-txt {
        display: inline-block;
        line-height: 0px;
    }
    .sessao02 {
        padding: 40px 2%;
    }
    .sessao04 .container {
        text-align: center;
    }
    .form input[type="submit"] {
        display: inline-block;
    }
    .map-wraper {
        float: none;
        width: 100%;
        margin-top: 20px;
        padding: 0 4%;
    }
    .map-wraper3 {
        display: inline-block;
        position: relative;
        width: 80%;
        padding-top: 80%;
        max-width: none;
        margin-top: 10px;
    }
    .map-wraper2 {
        background: green;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding-top: 00;
    }
    .form {
        float: none;
        width: 100%;
        padding-right: 8%;
    }
     .form p {
        display: inline-block;
    }
}
@media screen and (max-width: 580px) {
    .part01 {
        width: 100%;
        padding: 40px 0;
    }
    .part02 {
        width: 100%;
        padding: 40px 0;
    }
    .sessao02 img {
        top: 50px;
        margin-top: 20px;
    }
    footer {
        text-align: center;
    }
    footer p:first-child {
        float: none;
    }
    footer p:last-child {
        margin-top: 5px;
        float: none;
    }
    
}
