@media screen and (max-width: 900px) {
    .bg {
        height: auto;
        text-align: center;
        padding: 40px 0;
    }
    .form-container {
        position: static;
        display: inline-block;
        height: auto;
        width: 96%;
        max-width: 400px;
    }
    .item01-mosaico{
        width: 100%;
        padding-top: 80%;
        background: no-repeat center fixed;
        background-size: cover;
    }
    .item02-mosaico{
        
        width: 100%;
    }
    
}

@media screen and (max-width: 500px) {
    header {
        text-align: center;
    }
    .logo-1,
    .logo-2 {
        display: inline-block;
        float: none;
        margin-top: 10px;
    }
}
