* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gold {
    background: gold;
}
.lightblue {
    background: lightblue;
}
section.container {
    width: 100%;
}
div.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    padding: 0 2%;
    margin: 0 auto;
}
.w50 {
    width: 100%;
}
header ul li {
    padding: 0 20px;
    display: inline-block;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
